extends layout

block content
  h1= title
  ul
    li
      h2
        a(href='/sankey')= 'Sankey'
    li
      h2
        a(href='/force')= 'Force'
    li
      h2
        a(href='/scatter')= 'Scatter'